@import '~bootstrap/scss/bootstrap';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

// Font Variables
$tangerine: 'Tangerine', serif;
$greatVibe: 'Great Vibes', cursive;
$paris: 'Parisienne', cursive;
$monsieur: 'Monsieur La Doulaise', cursive;
$ovo: 'Ovo', serif;

//Color Variables
$blushPink: #f2d9d9;
$black: #000000;
$white: #ffffff;
$mediumGray: #737373;
$lightGray: #F2F2F2;
$trolleyGray: #808080;
$darkGray: #111111;
$roseGold: #ff9985;
$pinktransparent: rgba(242, 217, 217, 0.7);

html {
   margin: 0;
   height: 100%;
   width: 100%;
   padding: 0;
   position: relative;
}

body {
  background-image:url(public/Images/Background-Image-three.jpg);
  background-repeat: no-repeat;
  background-color: $blushPink;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

h1{
  font-family: $paris;
  font-weight: normal;
  font-size: 90px;
  width: auto;
  height: auto;
  line-height: 230px;
  text-align: center;
}

// #headerLogo {
//   padding: 0;
//   border: none;
//   color: $black;
//   background-color: transparentize($white, 1);
// }

#inspirationalMessage {
  font-family: $paris;
  font-weight: normal;
  font-size: 90px;
  width: auto;
  height: auto;
  line-height: 230px;
  text-align: center;
  position: fixed;
}

#message {
  font-family: $paris;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#entryButton {
  font-family: $ovo;
  padding: 0;
  border: none;
  color: $black;
  font-size: 25px;
  font-weight: bold;
  background-color: transparentize($white, 1);
  position: fixed;
  top: 49%;
  left:18.7%;
  transform: rotate(90deg);
}

#newUserButton{
  font-family:$paris;
  padding: 0;
  border: none;
  color: $black;
  font-size: 30px;
  font-weight: bold;
  background-color: transparentize($white, 1);
  position: fixed;
  width: auto;
  height: auto;
  right: 20.5%;
  top: 47%
}

#garmentView {
  background-color:  $pinktransparent;
  font-family: $ovo;
  font-size: 15px;
  font-weight: bold;
}

#returnUserButton{
  font-family: $paris;
  padding: 0;
  border: none;
  color: $black;
  font-size: 30px;
  font-weight: bold;
  background-color: transparentize($white, 1);
  position: fixed;
  width: auto;
  height: auto;
  right: 2.5%;
  bottom: 22%

}

#signupForm {
  font-family: $paris;
  color: $black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: center;
}

// .signupform1 {
//   width: 50%
// }
// .pageLayout {
//   display: flex;
// flex: 1;
// flex-direction: row;
// min-height: 100vh;
// width: 100%
// }
#signupform1 {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

#password {
  width: 70%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex: 1;

}


#inputEmail {
  width: 80%;
  min-height: 20px;
  // margin-left: 100px;

  margin: 0 auto;
  // display: flex;
  // align-content: center;
  // // align-self: center;
  // justify-content: center;

}

#emailWord {
  // margin-left: 150px;

  // margin: 0 auto;
  display: flex;
  // align-content: center;
  // align-self: center;
  justify-content: center;

}


#sign-up {
  background: $pinktransparent;
  padding: 4px;
  border: 3px solid $mediumGray;
  border-radius: 5px;
  width: auto;
  // height: 30%;
  margin: auto;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-content: center;

}
#signinForm {
  font-family: $paris;
  color: $black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: center;
}

#signinform1 {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

#sign-in {
  background: $pinktransparent;
  padding: 4px;
  // border: 3px solid $mediumGray;
  border-radius: 5px;
  width: 514px;
  height: 164px;
  // width: 30%;
  // // height: 30%;
  // margin: auto;
  // display: flex;
  // // justify-content: center;
  // align-content: center;

}

#passwordChangeForm {
  font-family: $paris;
  color: $black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: center;
}

#changePasswordform1 {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

#change-password {
  background: $pinktransparent;
  padding: 4px;
  border: 3px solid $mediumGray;
  border-radius: 5px;
}

#garmentAdd {
  font-family: $paris;
  color: $black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: center;
}

#garmentAddForm1 {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

#garmentAddForm {
  background: $pinktransparent;
  padding: 4px;
  border: 3px solid $mediumGray;
  border-radius: 5px;
}

#registerButton {
  color: $black;
  font-family: $ovo;
  background-color: $roseGold;
  font-weight: bold;
  right: 0;
  display: flex;
  align-items: flex-end;

  }

  #instagramPost {
    // display: flex;
    // justify-content: space-evenly;
    position:fixed;
    // bottom: 0;
    // top: 5;
    // left: 50px;
    z-index: 1;
    margin-right: 0px;
    margin-left: 300px;
    // background-color: $pinktransparent;
  }

  #instagramVideo1 {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-left: 10px;
  }

  #instagramVideo2 {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-left: 10px;
  }

  #instagramVideo3 {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-left: 10px;
  }

  #returntoSignupButton {
    font-family: $ovo;
    color: $roseGold;
    background-color:transparent;
    font-weight: bold;
    right: 0;
    align-items: center;
    font-size: 15px;
    padding: 0;
    border: none;

    }

  #returntoSignup {
    font-family: $paris;
    font-weight: bold;
    right: 0;
    align-items: center;
    padding: 0;
    border: none;
    font-size: 20px;

    }

  #returntoSigninButton {
    font-family: $ovo;
    color: $roseGold;
    background-color:transparent;
    font-weight: bold;
    right: 0;
    align-items: center;
    font-size: 15px;
    padding: 0;
    border: none;

    }

  #returnUserSection {
    font-family: $paris;
    font-weight: bold;
    right: 0;
    align-items: center;
    padding: 0;
    border: none;
    font-size: 20px;

    }

  #loginButton {
    color: $black;
    font-family: $ovo;
    background-color: $roseGold;
    font-weight: bold;
    // right: 0;
    // align-items: flex-end;
    }

  #changePWButton {
    color: $black;
    font-family: $ovo;
    background-color: $roseGold;
    font-weight: bold;
    // right: 0;
    // align-items: flex-end;
    }

  #garmentAddButton2 {
    color: $black;
    font-family: $ovo;
    background-color: $roseGold;
    font-weight: bold;
    right: 0;
    align-items: flex-end;

    }

  #garmentView {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  // .garmentImageView {
  //   margin-left: auto;
  //   display: table;
  // }
  //
  // #garmentImage {
  //   width: 150px;
  //   height: 150px;
  // }
  //
  // #garmentImage uploadImage{
  //   width: 100%
  //   height: 100%
  //   object-fit: cover;
  // }
  //
  // .custom-file input[type='file'] {
  //   display: none;
  // }
  //
  // .custom-file label{
  //   cursor: pointer;
  //   color: $black;
  //   text-align: center;
  //   display: table;
  //   margin: auto;
  //   margin-top: 15px;
  // }
  #userCloset {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 5px;
  }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(7) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(8) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(9) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(10) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(11) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(12) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

#menu {
	background: $blushPink;
	color: $white;
	height: 38px;
	padding-left: 18px;
	border-radius: 43px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
  text-align: center;
}
#menu a {
	display: block;
	line-height: 38px;
	padding: 0 14px;
	text-decoration: none;
	color: $trolleyGray;
	font-size: 15px;
	// text-transform: uppercase;
  border: none;
}
#menu li button:hover {
	color: $trolleyGray;
	// background: $lightGray;
}

#menu button {
  padding: 0;
  border: none;
  background: $blushPink;
  font-family: $paris;
  font-size: 20px;
  font-weight: bold;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 38px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 38px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}
#menu ul.subMenu{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: $blushPink;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.subMenu li {
	display: block;
	width: 100%;
}
#menu ul.subMenu a {
	color: $mediumGray;
	font-size: 15px;
  font-family: $paris;
  font-size: 20px;
  font-weight: bold;
  color: $black;
	// text-transform: uppercase;
}
#menu li:hover ul.subMenu {
	display: block
}
#menu ul.subMenu a:hover{
	// background: $lightGray;
	color: $trolleyGray;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:$darkGray;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.subMenu {width:100%;position:static;}
	#menu ul.subMenu a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:$white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

#youTubeVideos {

position:fixed;
bottom: 0;
top: 10;
left: 30px;
z-index: 1;
}
